example/node-red-obstacle.json
[{"id":"45b424a2.93beec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1da3a1d3.367e46","type":"amqp-in","z":"45b424a2.93beec","name":"sonar_left.distance","broker":"4d690e2b.33ced","prefetch":0,"noAck":false,"exchangeName":"amq.topic","exchangeType":"topic","exchangeRoutingKey":"sonar_left.distance","exchangeDurable":true,"queueName":"","queueExclusive":true,"queueDurable":false,"queueAutoDelete":true,"headers":"{}","x":110,"y":160,"wires":[["249d9053.7fc51"]]},{"id":"9578ba3f.43e908","type":"amqp-in","z":"45b424a2.93beec","name":"sonar_right.distance","broker":"4d690e2b.33ced","prefetch":0,"noAck":false,"exchangeName":"amq.topic","exchangeType":"topic","exchangeRoutingKey":"sonar_right.distance","exchangeDurable":true,"queueName":"","queueExclusive":true,"queueDurable":false,"queueAutoDelete":true,"headers":"{}","x":120,"y":60,"wires":[["285ec7ca.65bfc"]]},{"id":"cf60c24a.f1519","type":"amqp-in","z":"45b424a2.93beec","name":"button_start","broker":"4d690e2b.33ced","prefetch":0,"noAck":false,"exchangeName":"amq.topic","exchangeType":"topic","exchangeRoutingKey":"button_start","exchangeDurable":true,"queueName":"","queueExclusive":true,"queueDurable":false,"queueAutoDelete":true,"headers":"{}","x":90,"y":600,"wires":[["627874b5.19830c"]]},{"id":"1eca7b90.2556b4","type":"amqp-in","z":"45b424a2.93beec","name":"button_stop","broker":"4d690e2b.33ced","prefetch":0,"noAck":false,"exchangeName":"amq.topic","exchangeType":"topic","exchangeRoutingKey":"button_stop","exchangeDurable":true,"queueName":"","queueExclusive":true,"queueDurable":false,"queueAutoDelete":true,"headers":"{}","x":90,"y":700,"wires":[["bf8838c2.a7fa98"]]},{"id":"627874b5.19830c","type":"switch","z":"45b424a2.93beec","name":"","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":600,"wires":[["c019b684.83683"]]},{"id":"a4117be1.efd748","type":"amqp-out","z":"45b424a2.93beec","name":"motor","broker":"5e5ad693.3da61","exchangeName":"amq.topic","exchangeType":"topic","exchangeRoutingKey":"motor_controller","exchangeDurable":true,"amqpProperties":"{\"headers\":{},\"contentType\":\"application/json\",\"contentEncoding\":\"utf8\"}","x":1370,"y":300,"wires":[]},{"id":"bf8838c2.a7fa98","type":"switch","z":"45b424a2.93beec","name":"","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":700,"wires":[["b8664e91.e9f4a"]]},{"id":"f59877e8.fb5e3","type":"amqp-in","z":"45b424a2.93beec","name":"tfmini_front.distance","broker":"4d690e2b.33ced","prefetch":0,"noAck":false,"exchangeName":"amq.topic","exchangeType":"topic","exchangeRoutingKey":"tfmini_front.distance","exchangeDurable":true,"queueName":"","queueExclusive":true,"queueDurable":false,"queueAutoDelete":true,"headers":"{}","x":110,"y":400,"wires":[["aab273a.a6c0e1"]]},{"id":"5c289fc1.2b83e8","type":"trigger","z":"45b424a2.93beec","name":"stop motors","op1":"{\"speed_1\": 0, \"speed_2\": 0}","op2":"","op1type":"json","op2type":"nul","duration":"0","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":870,"y":420,"wires":[["573967dc.270378","7f3e538e.d8bcec"]]},{"id":"aab273a.a6c0e1","type":"switch","z":"45b424a2.93beec","name":"","property":"payload.distance","propertyType":"msg","rules":[{"t":"gt","v":"15","vt":"str"},{"t":"lte","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":400,"wires":[["b8cc3269.a74c7"],["5c289fc1.2b83e8"]]},{"id":"249d9053.7fc51","type":"change","z":"45b424a2.93beec","name":"","rules":[{"t":"set","p":"left_distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[[]]},{"id":"285ec7ca.65bfc","type":"switch","z":"45b424a2.93beec","name":"decide_turn","property":"payload.distance","propertyType":"msg","rules":[{"t":"gte","v":"left_distance.distance","vt":"global"},{"t":"lt","v":"left_distance.distance","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":60,"wires":[["508995e0.78c494"],["f32b2c10.b0d468"]]},{"id":"508995e0.78c494","type":"function","z":"45b424a2.93beec","name":"right_turn","func":"msg.payload = {\"speed_1\": 0.7, \"speed_2\": -0.7}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":20,"wires":[["47c9c501.b3d2bc"]]},{"id":"f32b2c10.b0d468","type":"function","z":"45b424a2.93beec","name":"left_turn","func":"msg.payload = {\"speed_1\": -0.7, \"speed_2\": 0.7}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":80,"wires":[["47c9c501.b3d2bc"]]},{"id":"b8cc3269.a74c7","type":"trigger","z":"45b424a2.93beec","name":"start motors","op1":"{\"speed_1\": 0.7, \"speed_2\": 0.7}","op2":"","op1type":"json","op2type":"pay","duration":"0","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":300,"wires":[["21da2dc4.957b12","7f3e538e.d8bcec"]]},{"id":"47c9c501.b3d2bc","type":"trigger","z":"45b424a2.93beec","name":"turn","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":910,"y":140,"wires":[["7f3e538e.d8bcec","c545f02e.f01f08"]]},{"id":"c545f02e.f01f08","type":"function","z":"45b424a2.93beec","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":300,"wires":[["b8cc3269.a74c7"]]},{"id":"c019b684.83683","type":"change","z":"45b424a2.93beec","name":"set_started","rules":[{"t":"set","p":"robot_started","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":600,"wires":[["afcf1a3d.d2a79","21da2dc4.957b12"]]},{"id":"7f3e538e.d8bcec","type":"switch","z":"45b424a2.93beec","name":"robot_started","property":"robot_started","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1180,"y":300,"wires":[["a4117be1.efd748"]]},{"id":"b8664e91.e9f4a","type":"change","z":"45b424a2.93beec","name":"set_started","rules":[{"t":"set","p":"robot_started","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":700,"wires":[["b2038415.bacf58"]]},{"id":"573967dc.270378","type":"function","z":"45b424a2.93beec","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":140,"wires":[["47c9c501.b3d2bc"]]},{"id":"21da2dc4.957b12","type":"function","z":"45b424a2.93beec","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":460,"wires":[["5c289fc1.2b83e8"]]},{"id":"b2038415.bacf58","type":"function","z":"45b424a2.93beec","name":"stop","func":"msg.payload = {\"speed_1\": 0, \"speed_2\": 0};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":700,"wires":[["a4117be1.efd748"]]},{"id":"afcf1a3d.d2a79","type":"function","z":"45b424a2.93beec","name":"start","func":"msg.payload = {\"speed_1\": 0.7, \"speed_2\": 0.7};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":600,"wires":[["a4117be1.efd748"]]},{"id":"89bdc389.c1414","type":"config","z":"45b424a2.93beec","name":"config_robot","properties":[{"p":"robot_started","pt":"global","to":"false","tot":"bool"}],"active":true,"x":690,"y":800,"wires":[]},{"id":"694d38b0.fd19e8","type":"inject","z":"45b424a2.93beec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"button\": 1}","payloadType":"json","x":1060,"y":660,"wires":[["627874b5.19830c"]]},{"id":"4d690e2b.33ced","type":"amqp-broker","z":"","name":"","host":"r4a-platform.ddns.net","port":"5782","vhost":"","tls":false},{"id":"5e5ad693.3da61","type":"amqp-broker","z":"","name":"","host":"r4a-platform.ddns.net","port":"5782","vhost":"","tls":false}]